<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DiagnoWise | General Disease Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index1.css') }}">
    <link rel="stylesheet" href="../static/chat.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="/static/img/logo.png" alt="DiagnoWise Logo" class="logo-img">
                <b class="logo">DiagnoWise</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="navitems" href="/dashboard">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems" href="/disindex">Disease Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems" href="{{ url_for('predictgen') }}">General Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems active" href="/cancer">Breast Cancer</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems" href="/diabetes">Diabetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems" href="/heart">Heart Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems" href="/liver">Liver Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems" href="#">|</a>
                    </li>
                    <li class="nav-item">
                        <a class="navitems" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5  shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Select Symptoms to Predict Disease</h1>
        <form action="{{ url_for('predictgen') }}" method="POST" class="row">
            <div class="col-md-6  bg-white">
                <div class="form-group form-column">
                    <label for="symptom1">Symptom 1:</label>
                    <select name="symptom1" id="symptom1" class="form-control">
                        <option value="" disabled selected>Select Symptom 1</option>
                        {% for symptom in symptoms %}
                        <option value="{{ symptom }}">{{ symptom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-column ">
                    <label for="symptom2">Symptom 2:</label>
                    <select name="symptom2" id="symptom2" class="form-control">
                        <option value="" disabled selected>Select Symptom 2</option>
                        {% for symptom in symptoms %}
                        <option value="{{ symptom }}">{{ symptom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-column">
                    <label for="symptom3">Symptom 3:</label>
                    <select name="symptom3" id="symptom3" class="form-control">
                        <option value="" disabled selected>Select Symptom 3</option>
                        {% for symptom in symptoms %}
                        <option value="{{ symptom }}">{{ symptom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6  bg-white">
                <div class="form-group form-column">
                    <label for="symptom4">Symptom 4:</label>
                    <select name="symptom4" id="symptom4" class="form-control">
                        <option value="" disabled selected>Select Symptom 4</option>
                        {% for symptom in symptoms %}
                        <option value="{{ symptom }}">{{ symptom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-column">
                    <label for="symptom5">Symptom 5:</label>
                    <select name="symptom5" id="symptom5" class="form-control">
                        <option value="" disabled selected>Select Symptom 5</option>
                        {% for symptom in symptoms %}
                        <option value="{{ symptom }}">{{ symptom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-column">
                    <label for="symptom6">Symptom 6:</label>
                    <select name="symptom6" id="symptom6" class="form-control">
                        <option value="" disabled selected>Select Symptom 6</option>
                        {% for symptom in symptoms %}
                        <option value="{{ symptom }}">{{ symptom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Predict</button>
            </div>
        </form>
    </div>

    <div id="chatbot-container">
        <button id="chatbot-button">
            <img src="{{ url_for('static', filename='robot.png') }}" alt="Chatbot Image">
        </button>
        <iframe id="chatbot-frame" allow="microphone;"
            src="https://console.dialogflow.com/api-client/demo/embedded/485a5f31-dc12-4f16-97b6-3bb1ce756750"></iframe>
    </div>

    <script src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
